body {
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    color: #333;
    margin: 20px;
  }
  
  h1 {
    font-family: 'Georgia', serif;
    color: #09008b;
    text-align: center;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #e0fffc, #070605);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }
  
  
  h2 {
    color: #444;
    border-bottom: 2px solid #a52a2a;
    padding-bottom: 5px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f8f8f8;
    text-align: left;
    padding: 10px;
  }
  
  td {
    padding: 10px;
    vertical-align: top;
  }
  
  img {
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  
  ol {
    background-color: #e3e0ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
  }
  
  button {
    background-color: #d31818;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #07f0f0;
  }
  
  .container {
    max-width: 1000px;
    margin: auto;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 10px;
  }
  